<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>邮件任务系统</title>
    <link rel="stylesheet" type="text/css" href="./css/normalize.css">
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <link rel="stylesheet" type="text/css" href="./css/task-list.css">
    <link rel="stylesheet" type="text/css" href="./css/task-form.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <style type="text/css">
    .icon {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }
    </style>
    <script type="text/javascript" src="https://at.alicdn.com/t/font_fz0yc9mm1gb0ggb9.js"></script>
    <script type="text/javascript" src="./js/lib/md5.js"></script>
    <script type="text/javascript" src="./js/lib/vue.js"></script>
    <script type="text/javascript" src="./js/lib/vue-resource.js"></script>
    <script type="text/javascript" src="./js/lib/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-file-upload/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-file-upload/jquery.fileupload.js"></script>
    <script type="text/javascript" src="/js/lib/base64-min.js"></script>
</head>

<body>
    <div id="app">
        <header>
            <div class="header-left">
                <a class="logo-link" href="http://www.integle.com">
                    <img class="logo-img" src="./images/logo.png">
                </a>
                <span class="app-title">InETS</span>
            </div>
            <div class="header-right"></div>
        </header>
        <center>
            <div class="sidebar">
                <div class="sidebar-top">
                    <div id="create-task-btn" @click="createTask()">
                        <div class="icon-create">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon--plus-sign"></use>
                            </svg>
                        </div>
                        <span class="create-task-text">新建任务</span>
                    </div>
                </div>
                <div class="sidebar-nav">
                    <ul>
                        <li id="list-tasks" @click="listTasks()">
                            <!-- <div> -->
                            <div class="icon-list">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-icon-liebiao"></use>
                                </svg>
                            </div>
                            <span class="list-tasks-text">任务列表</span>
                            <!-- </div> -->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main">
                <div class="main-top-nav">
                    <a href="javascript:;" class="tab" :class="{active: (router=='list-page')}" @click="listTasks()">我的任务</a>
                    <a href="javascript:;" class="tab active" v-show="router=='create-page'" style="display: none;">新建任务</a>
                    <a href="javascript:;" class="tab active" v-show="router=='detail-page'" style="display: none;">任务详情</a>
                </div>
                <div id="list-page" v-if="router=='list-page'">
                    <table class="odd-even">
                        <thead>
                            <tr>
                                <th>任务名称</th>
                                <th>状态</th>
                                <th>邮件总数</th>
                                <th>完成进度</th>
                                <th>成功</th>
                                <th>失败</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tr v-if="tasks.taskArr.length==0">
                            <td colspan="8">
                                您还没有任务 <a href="javascript:;" @click="createTask()">新建任务</a>
                            </td>
                        </tr>
                        <tr v-for="task in tasks.taskArr">
                            <td v-html="task.name"></td>
                            <td v-html="taskStatus[task.status]"></td>
                            <td v-html="(task.status<=2) ? '--' : task.total_emails"></td>
                            <td v-html="showTaskProgress(task)"></td>
                            <td v-html="(task.status<=2) ? '--' : task.succeed_emails"></td>
                            <td v-html="(task.status<=2) ? '--' : task.failed_emails"></td>
                            <td v-html="task.create_time"></td>
                            <td>
                                <a class="btn" action="del-task" v-if="task.status<=2" @click="delTask(task.id)">删除任务</a>
                                <a class="btn" v-if="task.status>2" @click="showDetail(task.id)">查看详情</a>
                            </td>
                        </tr>
                    </table>
                    <div class="pagination-container" v-if="tasks.pages>1">
                        <ul class="pagination">
                            <li class="prev" :class="{disabled: (tasks.currentPage==1)}" @click="getTaskList(tasks.currentPage-1)"><span>«</span></li>
                            <li v-for="p in tasks.pages" :class="{active: (tasks.currentPage==p)}" @click="getTaskList(p)"><span>{{p}}</span></li>
                            <li class="next" :class="{disabled: (tasks.currentPage==tasks.pages)}" @click="getTaskList(tasks.currentPage+1)"><span>»</span></li>
                        </ul>
                    </div>
                </div>
                <div id="create-page" v-if="router=='create-page'">
                    <div class="task-form">
                        <div class="part-container">
                            <div class="part-fields">
                                <div class="field-item full-width">
                                    <div class="field-desc">
                                        <label class="title">任务名称</label><span class="required">*</span></div>
                                    <div class="ta-left">
                                        <input type="text" class="field-input" v-model="task.name" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="part-container">
                            <div class="part-title">发件服务器配置</div>
                            <div class="part-fields">
                                <!-- <div class="field-row"> -->
                                <div class="field-item half-width pr-15">
                                    <div class="field-desc">
                                        <label>发件邮箱</label><span class="required">*</span></div>
                                    <div>
                                        <input type="text" class="field-input" v-model="task.name" />
                                    </div>
                                </div>
                                <div class="field-item half-width pl-15">
                                    <div class="field-desc">
                                        <label>邮箱密码</label><span class="required">*</span></div>
                                    <div>
                                        <input type="password" class="field-input" v-model="task.name" />
                                    </div>
                                </div>
                                <!-- </div> -->
                                <!-- <div class="field-row"> -->
                                <div class="field-item half-width pr-15 mt-15">
                                    <div class="field-desc">
                                        <label>SMTP服务器</label><span class="required">*</span></div>
                                    <div>
                                        <input type="text" class="field-input" v-model="task.name" />
                                    </div>
                                </div>
                                <div class="field-item half-width pl-15 mt-15">
                                    <div class="field-desc">
                                        <label>端口</label><span class="required">*</span></div>
                                    <div>
                                        <input type="text" class="field-input" v-model="task.name" />
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                        <div class="part-container">
                            <div class="part-title">邮件模板配置</div>
                            <table>
                                <tr>
                                    <td class="ta-left" style="width:200px;">
                                        <label>Excel文件上传</label>
                                        <span class="required">*</span>
                                        <span class="tip-icon" data-tip="提示：此Excel文件应包含收件人邮箱列，以及待发送邮件中的个性化信息列，如单位名称、课题名称、课题编号等"></span>
                                        <!--          <div class="tip">(提示：此Excel文件应包含收件人邮箱列，以及待发送邮件中的个性化信息列，如单位名称、课题名称、课题编号等)</div> -->
                                    </td>
                                    <td class="ta-left" style="text-align:left;">
                                        <div class="file-upload-container">
                                            <span class="file-upload-button">
                                        <span>+选择文件</span>
                                            <input id="excel-upload" type="file" name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                            </span>
                                            <div id="excel-upload-progress" class="progress">
                                                <span>上传进度：</span>
                                                <div class="progress-bar">
                                                    <div class="progress-bar-success"></div>
                                                </div>
                                                <span class="progress-percentage"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr id="to-tr" class="disabled">
                                    <td class="ta-left">
                                        <label>收件人</label>
                                        <span class="required">*</span>
                                    </td>
                                    <td class="ta-left">
                                        <fieldset>
                                            <legend>
                                                请选择所上传Excel文件中的对应收件人的列
                                            </legend>
                                            <div id="to-list" class="radio-list"></div>
                                        </fieldset>
                                    </td>
                                </tr>
                                <tr id="subject-tr" class="disabled">
                                    <td class="ta-left">
                                        <label>邮件主题</label>
                                        <span class="tip-icon" data-tip="提示：如果主题中想包含个性化信息，如：课题名称,请这样输入{{课题名称}}"></span>
                                    </td>
                                    <td>
                                        <input id="subject" type="text" value="" style="width:100%;text-align:left;" />
                                    </td>
                                </tr>
                                <tr id="body-tr">
                                    <td id="body-title-td" class="ta-left disabled">
                                        <label>邮件正文</label>
                                        <span class="tip-icon" data-width="300px" data-tip="提示：如果正文中想包含个性化信息，如：课题名称,请这样输入{{课题名称}}；
                      如果需要对个性化信息进行样式选择，如：加粗、调整字体大小颜色,请对个性化信息整体（包含左右的双大括号）选中后进行样式操作；双大括号和其中的个性化信息请手动输入，尽量不要复制粘贴，否则可能会影响显示样式"></span>
                                    </td>
                                    <td id="body-content-td" class="disabled">
                                        <div style="height: 339px; line-height: 339px;">
                                            <input type="hidden" name="body" class="ewebeditor_hide_ipt" />
                                            <iframe class="editor_iframe" ID="iframe_editor_body" src="/editor/ewebeditor.htm?id=body&style=coolblue" frameborder="0" scrolling="no" width="100%" height="300"></iframe>
                                        </div>
                                    </td>
                                </tr>
                                <tr id="has-attachment-tr" class="disabled">
                                    <td class="ta-left">
                                        <label>是否发送附件</label>
                                        <span class="required">*</span>
                                    </td>
                                    <td class="ta-left" style="text-align:left;">
                                        <div class="radio-list" style="margin-bottom: 15px; margin-top: 15px;">
                                            <input type="radio" name="attachment_type" value="0" />不发送附件
                                            <input type="radio" name="attachment_type" value="1" style="margin-left:50px;" />给所有的收件人发送的附件相同
                                            <input type="radio" name="attachment_type" value="2" style="margin-left:50px;" />给不同的收件人发送的附件不同
                                            <span class="tip-icon" data-tip="提示：如果给不同的收件人发送的附件不同，附件名称应对应所上传Excel文件中的某一列"></span>
                                        </div>
                                        <div id="attachment-setting" style="display: none;">
                                            <fieldset id="attachment-fieldset" style="display: none;">
                                                <legend>
                                                    请选择所上传Excel文件中的对应附件名称的列
                                                </legend>
                                                <div id="attachment-excel-col" class="radio-list"></div>
                                            </fieldset>
                                            <div class="file-upload-container">
                                                <span class="file-upload-button">
                                        <span>+上传附件</span>
                                                <input id="attachment-upload" type="file" name="attachments[]" multiple/>
                                                </span>
                                                <div id="attachment-upload-progress" class="progress">
                                                    <span>上传进度：</span>
                                                    <div class="progress-bar">
                                                        <div class="progress-bar-success"></div>
                                                    </div>
                                                    <span class="progress-percentage"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <input id="attachment-excel-col" type="text" style="display:none;text-align:left;width:80%;" placeholder="请输入附件名对应在Excel文件中的列" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="detail-page" v-if="router=='detail-page'"></div>
            </div>
        </center>
        <footer>Copyright©2009-2017 上海鹰谷信息科技有限公司 版权所有 沪ICP备13029136号</footer>
    </div>
    <script type="text/javascript">
    const TASKS_PER_PAGE = 10;
    const TASK_STATUS = ['无效', '未提交', '未开始', '进行中', '已完成'];
    new Vue({
        el: '#app',
        data: {
            router: 'create-page',
            task: {
                name: '',
            },
            tasks: {
                total: 0,
                taskArr: [],
                pages: 1,
                currentPage: 1,
                perPage: TASKS_PER_PAGE
            },
            taskStatus: TASK_STATUS
        },
        computed: {

        },
        methods: {
            createTask() {
                console.log('createTask');
                this.router = 'create-page';
            },
            listTasks() {
                console.log('listTasks');
                this.router = 'list-page';
                this.getTaskList();
            },
            getTaskList(page) {
                this.$http.jsonp('http://dev.ets.integle.com/api/list-tasks', {
                    params: {
                        account: 'huajun.h.zhu@integle.com',
                        password: hex_md5('yg123456'),
                        user_id: 14831,
                        page: page
                    }
                }).then((res) => {
                    // success callback
                    let result = JSON.parse(res.bodyText);
                    // console.log(result);
                    if (result.status == 1) {
                        this.tasks = {
                            total: result.data.total,
                            taskArr: result.data.taskArr,
                            pages: Math.ceil(result.data.total / TASKS_PER_PAGE),
                            currentPage: page,
                            perPage: TASKS_PER_PAGE
                        }
                    }
                }, (res) => {
                    // error callback
                });
            },
            showTaskProgress(task) {
                if (task.status <= 2 || task.total_emails == 0) {
                    return '--';
                }
                return ((task.succeed_emails / 1 + task.failed_emails / 1) / task.total_emails * 100).toFixed(2) + '%';
            },
        },
        mounted() {
            this.$nextTick(() => {
                this.getTaskList(1);
            });
        }
    });
    </script>
</body>

</html>
