/*整体上中下布局 开始*/
body {
	margin: 0;
	min-height: 100vh;
}

#app {
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
	/*background-color: #f8f8f8;*/
}

header, footer {
	flex: 0 0 50px;
}

center {
	flex: 1;
}
/*整体上中下布局 结束*/

/*header区域 开始*/
header {
	background-color: #2d323e;
	color: #ffffff;
	line-height: 50px;
}

.header-left {
	float: left;
}

.logo-link {
	display: inline-block;
}

.logo-img {
	display: inline;
	vertical-align: middle;
	margin-top: -3px;
	border: none;
}

.app-title {
	position: absolute;
  top: 7px;
  left: 125px;
}

.header-right {
	float: right;
	font-family: 'verdana, simsun';
	font-size: 13px;
}

.header-right .account {
    float: left;
    color: #fff;
    text-decoration: none;
}

.header-right .account:before {
    content: "";
    height: 18px;
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background: url(../images/icons.png) -18px -191px;
}

.header-right .seperator {
    float: left;
    width: 1px;
    height: 34px;
    margin: 7px 20px;
}

.header-right .seperator:before, .header-right .seperator:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 17px;
    float: left;
    display: block;
}

.header-right .seperator:before {
    background: -ms-linear-gradient(top, #2e323d, #515662);/* IE9+*/
    background-image: -moz-linear-gradient(top, #2e323d, #515662); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2e323d), color-stop(1, #515662)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e323d', endColorstr='#515662', GradientType='0'); /* IE9*/
}

.header-right .seperator:after {
    top: 24px;
    background: -ms-linear-gradient(top, #515662, #2e323d);/* IE9+*/
    background-image: -moz-linear-gradient(top, #515662, #2e323d); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #515662), color-stop(1, #2e323d)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#515662', endColorstr='#2e323d', GradientType='0'); /* IE*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#515662, endColorstr=#2e323d)";/* IE8+*/
}

.header-right .exit {
    float: left;
    color: #fff;
    text-decoration: none;
}

.header-right .exit:before {
    content: "";
    height: 18px;
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background: url(../images/icons.png) -36px -191px;
}
/*header区域 结束*/

/*center区域 开始*/
center {
	display: flex;
	border-bottom: 1px solid #cfcfcf;
}
.sidebar {
	flex: 0 0 240px;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #cfcfcf;
	font-family: 'Microsoft YaHei';
	font-size: 14px;
}
.sidebar-top {
	flex: 0 0 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#create-task-btn {
	width: 200px;
	height: 40px;
	line-height: 40px;
	color: #ffffff;
	background-color: #0c2fe2;
	transition: all 0.5s ease-out 0s;
	border-radius: 5px;
	cursor: pointer;
}
#create-task-btn .icon-create {
	display: inline-block;
	font-size: 24px;
	transform: rotateY(0);
	transition: all 0.5s ease-out 0s;
}
#create-task-btn:hover .icon-create{
	transform: rotateY(180deg);
}
.create-task-text {
	display: inline-block;
	vertical-align: top;
}
.sidebar-nav {
	flex: 1;
	border-top: 1px solid #cfcfcf;
}
.sidebar-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.sidebar-nav ul li {
	height: 50px;
	line-height: 50px;
	background-color: #f1f2f4;
  cursor: pointer;
  font-weight: bold;
  /*padding: 15px 21px 15px 13px;*/
  text-align: left;
}
li .icon-list {
	display: inline-block;
	margin-left: 15px;
	color: #da3232;
	font-size: 20px;
	transform: rotate(0);
	transition: all 0.5s ease-out 0s;
}
li:hover .icon-list {
	transform: rotate(360deg);
}
.list-tasks-text {
	display: inline-block;
	vertical-align: top;
}
.main {
	flex: 1;
	margin-top: 20px;
	margin-left: 15px;
	margin-right: 15px;
}
.main-top-nav {
	border-bottom: 1px solid #eee;
  width: 100%;
  height: 33px;
	margin-bottom: 26px;
}
.main-top-nav .tab {
	line-height: 32px;
	background: url(../images/title_bg.png) repeat-x;
	float: left;
	position: relative;
	border-top: 1px solid #e0e0e0;
	box-sizing: border-box;
	margin: 0 17px;
	padding: 0 8px;
	bottom: -2px;
	color: #999;
	z-index: 10;
	height: 32px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	font-family: verdana, simsun;
	font-size: 13px;
}
.main-top-nav .tab.active {
	background: #fff;
	z-index: 100;
	cursor: default;
	color: #1976D2;
}
.main-top-nav .tab:before {
	content: '';
	display: block;
	background: url(../images/image.png) -72px -48px no-repeat;
	width: 22px;
	height: 33px;
	position: absolute;
	top: -2px;
	left: -22px;
}
.main-top-nav .tab:after {
	content: '';
	display: block;
	background: url(../images/image.png) -48px -48px no-repeat;
	width: 22px;
	height: 33px;
	position: absolute;
	top: -2px;
	right: -20px;
}
.main-top-nav .tab.active:before {
	background: url(../images/image.png) left -48px no-repeat;
}
.main-top-nav .tab.active:after {
	background: url(../images/image.png) -24px -48px no-repeat;
}
#list-page {
}
#create-page {
	/*display: none;*/
}
#detail-page {
	/*display: none;*/
}
/*center区域 结束*/

footer {
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-family: verdana, simsun;
	font-size: 13px;
}