body {
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
}

header, footer {
	flex: 0 0 50px;
}

header {
	background-color: #2d323e;
	color: #ffffff;
	line-height: 50px;
}

.header-left {
	float: left;
}

center {
	flex: 1;
}